@import url('https://fonts.googleapis.com/css?family=Poppins:400');

$fontSize: 100%;

$fontWeight-base: 400;
$lineHeight-base: 1.75;
$fontFamily-base: 'Poppins', sans-serif;

$lineHeight-headings: 1.3;

$fontSize-h1: 3.052rem;
$fontSize-h2: 2.441rem;
$fontSize-h3: 1.953rem;
$fontSize-h4: 1.563rem;
$fontSize-h5: 1.25rem;

$fontSize-small: 0.8rem;
$fontSize-smaller: 0.64rem;
$fontSize-tiny: 0.512rem;
